:root {
  /* Cores principais */
  --cor-primaria: #00AEEF;        /* Azul Claro */
  --cor-secundaria: #F7941D;      /* Laranja Vibrante */

  /* Cores de fundo e neutras */
  --cor-fundo: #FFF6E9;           /* Bege Pastel */
  --cor-branco: #FFFFFF;          /* Branco puro */
  --cor-cinza-suave: #E5E5E5;     /* Cinza claro */
  --cor-preto-suave: #333333;     /* Preto suave */

  /* Cores auxiliares */
  --cor-destaque: #FFA940;        /* Laranja mais claro para hover */
  --cor-azul-escuro: #0077A5;     /* Azul mais forte para títulos/contraste */
}



/* =================== SECTIONS =================== */
.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* escurece só um pouco */
  z-index: 1;

}
.hero-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.hero-banner {
  position: relative;
  background: url('../img/Plano\ de\ fundo.jpg') no-repeat center center/cover;
  height: 400px;
}

/*=======================================*/

/*==================texto=====================*/
.apresentacao {
  background: #fff8ef;
  color: #333;
  padding: 4rem 1rem;
}

.apresentacao .titulo {
  font-weight: 700;
  color: #f7941d;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.apresentacao .emoji {
  font-size: 1.5rem;
  vertical-align: middle;
}

.apresentacao .descricao {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
}

.linha {
  width: 80px;
  border: 2px solid #f7941d;
  margin: 1.5rem auto;
}

/*===========================================*/


.categorias {
  background: #fff8ef;
}

.text-orange {
  color: #f7941d;
}

.categoria-card {
  background-color: #f7941d;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.categoria-card a.btn {
  color: #fff;
  border-color: #fff;
  font-weight: 500;
}

.categoria-card a.btn:hover {
  background-color: #fff;
  color: #f7941d;
}

/* =================== TEXTO =================== */

h1,
h2,
p {
    padding-left: 20px;
}

p {
    font-weight: 500;
    font-style: oblique;
}