* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*========titulo========*/

body {
    background-image: url(../img/Plano\ de\ fundo2.avif  );
    overflow-x: hidden;
}

.form-container {
    max-width: 700px;
    margin: 50px auto;
    background: #ebd8cd;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    p {
        color: #000000;
    }
}

.form-title {
    color: #3e89da;
    font-family: 'Fredoka', sans-serif;
    font-weight: 650;
}
.card h6 a{
    text-align: center;
}

label {
    font-family: 'Nunito', sans-serif;
}

.btn {
    background: #3b9aff;
    color: #000000;
}

.btn:hover {
    background:  #007bff;
    transform: scale(1.05);
    color: #000000;
}

.btn-home {
    margin: 100px;
}

#btnTopo {
     font-family: 'Fredoka', sans-serif;
    font-weight: 650;
    margin: 10px;
    bottom: 5px;
    left: 20px;
    background: #ffe6d8;
    color: rgb(0, 0, 0);
    border-radius: 10px ;
    border: none;
    padding: 12px 16px;
    font-size: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    
    
}
#btnTopo:hover{
    background-color: #ffbf9b;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

@media(max-width: 767px){
    #btnTopo{
        justify-content: center;
      
    }
}