
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fe991d;
    --light: #eff0f0;
    --accent: #2ba8e2;
    --dark: #182d71;
    --black: #000000;
}






/* ======= SUMARIO (barra lateral) ======= */
.sumario {
    background-color: #fff;
    box-shadow: 2px 2px 10px orange;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sumario h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Estilo para dropdowns */
.dropdown {
    margin-bottom: 15px;
}

.dropdown-toggle {
    width: 100%;
}

/* ======= PRODUTOS ======= */
section h2 {
    margin-bottom: 10px;
}

.card {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease;
    height: 100%;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Título do card */
.card-title {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .sumario {
        margin-bottom: 30px;
    }
}
